*.pdf filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
/doc/sub-001_ses-3_part-complex_space-t1w_desc-normflatbet_bssfp.nii.gz filter=lfs diff=lfs merge=lfs -text
/doc/img_progress/sub-001_ses-3_part-complex_space-t1w_desc-normflatbet_bssfp.nii.gz filter=lfs diff=lfs merge=lfs -text
/src/model.onnx filter=lfs diff=lfs merge=lfs -text
/lit/pdfs/(Adaptive[[:space:]]Computation[[:space:]]and[[:space:]]Machine[[:space:]]Learning[[:space:]]series)[[:space:]]Ian[[:space:]]Goodfellow,[[:space:]]Yoshua[[:space:]]Bengio,[[:space:]]Aaron[[:space:]]Courville[[:space:]]-[[:space:]]Deep[[:space:]]Learning-The[[:space:]]MIT[[:space:]]Press[[:space:]](2016).pdf filter=lfs diff=lfs merge=lfs -text
/lit/pdfs/PRINCIPLES[[:space:]]OF[[:space:]]MAGNETIC[[:space:]]RESONANCE[[:space:]]IMAGING[[:space:]]A[[:space:]]SIGNAL[[:space:]]--[[:space:]]ZHI-PEI[[:space:]]LIANG[[:space:]]PAUL[[:space:]]C_LAUTERBUR.pdf filter=lfs diff=lfs merge=lfs -text
/lit/pdfs/The[[:space:]]transform[[:space:]]and[[:space:]]data[[:space:]]compression[[:space:]]handbook[[:space:]]--[[:space:]]Kamisetty[[:space:]]Ramam[[:space:]]Rao,[[:space:]]Pat[[:space:]]Yip.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/27Y5589Z/d2l-en.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/67ZJ8N25/Wang[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2022[[:space:]]-[[:space:]]Pretraining[[:space:]]is[[:space:]]All[[:space:]]You[[:space:]]Need[[:space:]]for[[:space:]]Image-to-Image[[:space:]]Tra.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/6UQVDYIR/Zhang[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2023[[:space:]]-[[:space:]]Dive[[:space:]]into[[:space:]]Deep[[:space:]]Learning.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/9BJEL5YW/Rao[[:space:]]and[[:space:]]Yip[[:space:]]-[[:space:]]2018[[:space:]]-[[:space:]]The[[:space:]]Transform[[:space:]]and[[:space:]]Data[[:space:]]Compression[[:space:]]Handbook.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/IW6H3LBR/Birk[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2022[[:space:]]-[[:space:]]High-resolution[[:space:]]neural[[:space:]]network-driven[[:space:]]mapping[[:space:]]of[[:space:]]m.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/QT3DRWC4/Goodfellow[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2016[[:space:]]-[[:space:]]Deep[[:space:]]Learning.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/REV26QHN/Wang[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2022[[:space:]]-[[:space:]]Pretraining[[:space:]]is[[:space:]]All[[:space:]]You[[:space:]]Need[[:space:]]for[[:space:]]Image-to-Image[[:space:]]Tra.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/UNGLL97V/Liang[[:space:]]and[[:space:]]Lauterbur[[:space:]]-[[:space:]]2000[[:space:]]-[[:space:]]Principles[[:space:]]of[[:space:]]magnetic[[:space:]]resonance[[:space:]]imaging.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/Z5QTPV6V/d2l.ai.html filter=lfs diff=lfs merge=lfs -text
/lit/zotero.sqlite filter=lfs diff=lfs merge=lfs -text
/lit/zotero.sqlite.bak filter=lfs diff=lfs merge=lfs -text
/lit/storage/IF99GMNX/augmentation.html filter=lfs diff=lfs merge=lfs -text
/lit/zotero.sqlite.1.bak filter=lfs diff=lfs merge=lfs -text
/lit/pdfs/Handbook-of-MRI-Pulse-Sequences.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/4ZU5262P/Bernstein[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2004[[:space:]]-[[:space:]]Handbook[[:space:]]of[[:space:]]MRI[[:space:]]Pulse[[:space:]]Sequences.pdf filter=lfs diff=lfs merge=lfs -text
/lit/storage/DW4YP9RE/Huisman[[:space:]]-[[:space:]]2010[[:space:]]-[[:space:]]Diffusion-weighted[[:space:]]and[[:space:]]diffusion[[:space:]]tensor[[:space:]]imaging[[:space:]]of.pdf filter=lfs diff=lfs merge=lfs -text
